//Antes do bootstrap
@import "settings/colors";
@import "settings/typography";
@import "settings/spacing";
@import "settings/utilities";

//bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
