$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  // custom
  32: $spacer * 2,
  56: $spacer * 3.5,
  80: $spacer * 5,
  100: $spacer * 6.25,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  fg: 1090px,
  xl: 1120px,
  xxl: 1320px,
);

$position-values: (
  0: 0,
  25: 25%,
  45: 45%,
  50: 50%,
  55: 55%,
  75: 75%,
  100: 100%,
);
